.snippet-container {
    background-color: #F3F3F3;
    border-radius: .5rem;
    margin: 2rem auto;
    padding: 2rem;
}

.aliment {
    align-items: center;
    display: flex;
    gap: 0.75rem;
    width: 100%;
    &__text {
        border-radius: 0.125em;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
        &:hover,
        &:focus {
            background-color: #EEE;
        }
    }
    &-list {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    & + & {
        margin-top: .5rem;
    }
}

.aliment__delete {
    align-items: center;
    background-color: #c00;
    border-radius: 0.125rem;
    cursor: pointer;
    display: flex;
    height: 1rem;
    justify-content: center;
    min-width: 1rem;
    &::after {
        content: "x";
        color: #F3F3F3;
        font-family: monospace;
        font-weight: bold;
        pointer-events: none;
    }
}

.aliment-list__container {
    width: 100%;
    max-width: 15rem;
}

.snippet-section {
    padding: 0 1rem;
    &__results {
        align-items: center;
        background-color: #FAFAFA;
        border-radius: .5rem;
        box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin: 1rem 1rem 0;
        padding: 2rem;
    }
}